<div style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
	<p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin-bottom:16px">
		<strong *ngIf="formData.name?.first || formData.name?.last">{{ formData.name.first }} {{ formData.name.last }}<br/></strong>
		<span *ngIf="formData.credentials?.title || formData.credentials?.dept">{{ formData.credentials.title }} - {{ formData.credentials.dept }}<br/></span>
		University of Ontario Institute of Technology<br /> 
		<span *ngIf="formData.contact?.phone || formData.contact?.ext">{{ formData.contact.phone }} {{ formData.contact.ext ? 'ext. ' + formData.contact.ext : '' }}<br/></span>
		<span *ngIf="formData.contact?.mobile">{{ formData.contact.mobile }} (cell)<br/></span>
		<span *ngIf="formData.contact?.fax || formData.contact?.faxext">{{ formData.contact.fax }} {{ formData.contact.faxext ? 'ext. ' + formData.contact.faxext : '' }} (fax)<br/></span>
		<span *ngIf="formData.contact?.email"><a href="mailto:{{ formData.contact.email }}" style="color: #0077CA; text-decoration: none;">{{ formData.contact.email | lowercase }}</a><br/></span>
		<span *ngIf="formData.contact?.website"><a href="http://{{ formData.contact.website }}" style="color: #0077CA; text-decoration: none;">{{ formData.contact.website }}</a><br/></span>
	</p>

	<p *ngIf="formData.hours">
			<strong>Hours:</strong><br/>
			{{ formData.hours }}
	</p>

	<table border="0" cellpadding="3" cellspacing="0" style="padding: 3px; margin-bottom:16px;" *ngIf="formData.social?.style.value === 'button'">
		<tr>
			<td *ngFor="let network of formData.social?.networks;" style="padding: 0;">
				<a style="border: 0; outline: none;" title="{{ [network.type.cta, network.type.value === 'tw' ? '@' + network.username : network.username, 'on', network.type.name].join(' ') }}" [href]="network.type.href + (network.username || network.type.default)" *ngIf="network.type">
					<img [src]="network.type.src | absoluteUrl" alt="{{ network.type.name }} icon" width="28" height="28" style="border: 0; width: 28px; height: 28px; margin-right: 4px;"/>
				</a> 
			</td>
		</tr>
	</table>

	<table border="0" cellpadding="3" cellspacing="0" style="padding: 3px; margin-bottom:16px;" *ngIf="formData.social?.style.value === 'both'">
		<tr *ngFor="let network of formData.social?.networks;">
			<td style="padding: 0; font-size: 12px; vertical-align: middle;" valign="middle">
				<a style="border: 0; outline: none; vertical-align: middle; word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #0077ca; font-weight: normal; text-decoration: none;" valign="middle" [href]="network.type.href + (network.username || network.type.default)" *ngIf="network.type">
					<img [src]="network.type.src | absoluteUrl" alt="{{ network.type.name }} icon" width="28" height="28" style="border: 0; width: 28px; height: 28px; margin-right: 4px; vertical-align: middle;" valign="middle"/>
					{{ network.type.cta }} <strong>{{ network.type.value === 'tw' ? '@' + network.username : network.username }}</strong> on {{ network.type.name }}<br/>
				</a> 
			</td>
		</tr>
	</table>
	
	<table border="0" cellpadding="3" cellspacing="0" style="padding: 3px; margin-bottom:16px;" *ngIf="formData.social?.style.value === 'link'">
		<tr *ngFor="let network of formData.social?.networks;">
			<td style="padding: 0; font-size: 12px; vertical-align: middle;" valign="middle">
				<a style="border: 0; outline: none; vertical-align: middle; word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #0077ca; font-weight: normal; text-decoration: none;" valign="middle" [href]="network.type.href + (network.username || network.type.default)" *ngIf="network.type">
					{{ network.type.cta }} <strong>{{ network.type.value === 'tw' ? '@' + network.username : network.username }}</strong> on {{ network.type.name }}<br/>
				</a> 
			</td>
		</tr>
	</table>

	<table border="0" cellpadding="0" cellspacing="0" style="padding: 0; margin-bottom:16px;" >
		<tr>
			<td>
				<a style="border: 0; outline: none;" title="UOIT website" href="http://uoit.ca">
					<img style="border: 0; width: 324px; height: 56px;" [src]="formData.logo?.src | absoluteUrl" alt="{{ formData.logo?.name }} logo" width="324" height="56" />
				</a>
			</td>
		</tr>
	</table>

	<table width="560" cellpadding="0" cellspacing="0" *ngIf="formData.event.use" style="padding: 0;">
	  <tbody>
		  <tr>
		    <td width="210" valign="middle">
		    	<table>
		    		<tr>
		    			<td [width]="formData.event.data?.size == 1 ? 36 : 24" valign="middle">
		    				<img align="none" [src]="formData.event.data?.icon.src | absoluteUrl" [width]="formData.event.data?.size == 1 ? 24 : 16" [height]="formData.event.data?.size == 1 ? 24 : 16">
		    			</td>
		    			<td valign="middle" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
			    			<a [href]="formData.event.data?.url" style="word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #0077ca; font-weight: normal; text-decoration: none;" title="Visit the {{formData.event.data?.name }} webpage">
			    				<strong>{{formData.event.data?.name }}</strong>
			    			</a><br>
			    			{{formData.event.data?.date }}
		    			</td>
		    		</tr>
		    	</table>
		    </td>
		    <td width="390" valign="middle" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
			    {{formData.event.data?.desc }}
			    <a [href]="formData.event.data?.url" style="word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #0077ca; font-weight: normal; text-decoration: none;" title="{{formData.event.data?.cta }} – {{formData.event.data?.name }}"><strong>{{formData.event.data?.cta }}</strong></a>
				</td>
		  </tr>
		</tbody>
	</table>

	<table width="560" height="1px" cellpadding="0" cellspacing="0" style="height: 1px; padding: 0; margin-bottom:16px; width: 560px;" *ngIf="formData.message?.content">
		<tr>
			<td height="1px" style="background:none; border-bottom: 1px solid #EDEDED; height:1px; width:100%; margin: 0;">&nbsp;</td>
		</tr>
	</table>

	<table width="600" cellpadding="0" cellspacing="0" *ngIf="formData.message?.content">
		<tr>
			<td style="font-family: Arial, Helvetica, sans-serif; color: #666666;" [ngStyle]="{ 'font-size.px': formData.message?.style }">
				{{ formData.message.content }}
			</td>
		</tr>
	</table>

</div>