<div style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
	<p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin-bottom:16px">
		<strong *ngIf="formData.name?.first || formData.name?.last">{{ formData.name.first }} {{ formData.name.last }}<br/></strong>
		<span *ngIf="formData.credentials?.title || formData.credentials?.dept">{{ formData.credentials.title }} - {{ formData.credentials.dept }}<br/></span>
		University of Ontario Institute of Technology<br /> 
		<span *ngIf="formData.contact?.phone || formData.contact?.ext">{{ formData.contact.phone }} {{ formData.contact.ext ? 'ext. ' + formData.contact.ext : '' }}<br/></span>
		<span *ngIf="formData.contact?.mobile">{{ formData.contact.mobile }} (cell)<br/></span>
		<span *ngIf="formData.contact?.email"><a href="mailto:{{ formData.contact.email }}" style="color: #0077CA;">{{ formData.contact.email }}</a><br/></span>
		<span *ngIf="formData.contact?.website"><a href="http://{{ formData.contact.website }}" style="color: #0077CA;">{{ formData.contact.website }}</a></span>
	</p>

	<table border="0" cellpadding="3" cellspacing="0" style="padding: 3px;" *ngIf="formData.social?.style.value === 'button'">
		<tr>
			<td *ngFor="let network of formData.social?.networks;" style="padding: 0;">
				<a style="border: 0; outline: none;" title="{{ [network.type.cta, network.type.value === 'tw' ? '@' + network.username : network.username, 'on', network.type.name].join(' ') }}" [href]="network.type.href + (network.username || network.type.default)">
					<img [src]="network.type.src" alt="{{ network.type.name }} icon" width="28" height="28" style="border: 0; width: 28px; height: 28px; margin-right: 4px;"/>
				</a> 
			</td>
		</tr>
	</table>

	<table border="0" cellpadding="3" cellspacing="0" style="padding: 3px;" *ngIf="formData.social?.style.value === 'both'">
		<tr *ngFor="let network of formData.social?.networks;">
			<td style="padding: 0;">
				<a style="border: 0; outline: none;" [href]="network.type.href + (network.username || network.type.default)">
					<img [src]="network.type.src" alt="{{ network.type.name }} icon" width="28" height="28" style="border: 0; width: 28px; height: 28px; margin-right: 4px;"/>
					{{ network.type.cta }} <strong>{{ network.type.value === 'tw' ? '@' + network.username : network.username }}</strong> on {{ network.type.name }}<br/>
				</a> 
			</td>
		</tr>
	</table>
	
	<table border="0" cellpadding="3" cellspacing="0" style="padding: 3px;" *ngIf="formData.social?.style.value === 'link'">
		<tr *ngFor="let network of formData.social?.networks;">
			<td style="padding: 0;">
				<a style="border: 0; outline: none;" [href]="network.type.href + (network.username || network.type.default)">
					{{ network.type.cta }} <strong>{{ network.type.value === 'tw' ? '@' + network.username : network.username }}</strong> on {{ network.type.name }}<br/>
				</a> 
			</td>
		</tr>
	</table>

	<table>
		<tr>
			<td colspan="4">
				<a style="border: 0; outline: none;" title="UOIT website" href="http://uoit.ca"><img style="border: 0; width: 324px; height: 56px;" [src]="logoUrl" alt="UOIT logo" width="324" height="56" /></a>
			</td>
		</tr>
	</table>

<!-- 	<table width="600" height="1px" cellpadding="0" cellspacing="0">
		<tr>
			<td height="1px" style="background:none; border-bottom: 1px solid #EDEDED; height:1px; width:100%; margin:0px 0px 0px 0px;">&nbsp;</td>
		</tr>
	</table> -->

	<table width="600" cellpadding="0" cellspacing="0" *ngIf="formData.event.use">
	  <tbody>
		  <tr>
		    <td width="210" valign="middle">
		    	<table>
		    		<tr>
		    			<td [width]="formData.event.data?.size == 1 ? 36 : 24" valign="middle">
		    				<img align="none" [src]="formData.event.data?.icon.src" [width]="formData.event.data?.size == 1 ? 24 : 16" [height]="formData.event.data?.size == 1 ? 24 : 16">
		    			</td>
		    			<td valign="middle">
								<font size="2" color="#666666" face="Helvetica, Arial, sans-serif">
			    				<a [href]="formData.event.data?.url" style="word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #0077ca; font-weight: normal; text-decoration: none;" title="Visit the {{formData.event.data?.name }} webpage"><strong>{{formData.event.data?.name }}</strong></a><br>{{formData.event.data?.date }}
		    				</font>
		    			</td>
		    		</tr>
		    	</table>
		    </td>
		    <td width="390" valign="middle">
					<font size="2" color="#666666" face="Helvetica, Arial, sans-serif">
			    	{{formData.event.data?.desc }}&nbsp;<a [href]="formData.event.data?.url" style="word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #0077ca; font-weight: normal; text-decoration: none;" title="{{formData.event.data?.cta }} – {{formData.event.data?.name }}"><strong>{{formData.event.data?.cta }}</strong></a>
					</font>
				</td>
		  </tr>
		</tbody>
	</table>

	<table width="600" cellpadding="0" cellspacing="0" *ngIf="formData.message?.content">
		<tr>
			<td>
				<font [size]="formData.message?.style == 1 ? 1 : 2" color="#666666" face="Helvetica, Arial, sans-serif">
					{{ formData.message.content }}
				</font>
			</td>
		</tr>
	</table>

	<!-- <iframe src="" [frameLocals]="formData"></iframe> -->

</div>