<form [formGroup]="formData" (ngSubmit)="onSubmit($event, formData.value)" class="row flex-dir-column">
	<label class="disabled">Use a linked Expert Centre profile?
		<input type="checkbox" formControlName="expert">
	</label>
	<fieldset class="fieldset" [hidden]="!formData.value.expert">
		<legend>Expert</legend>
		<label>Which expert?
			<select>
				<option></option>
			</select>
		</label>
	</fieldset>
	<accordion>
		<accordion-panel heading="Contact">
			<div class="padding-1">
			  <fieldset class="fieldset" formGroupName="name">
					<legend>Name</legend>
					<div class="row">
				    <div class="small-6 columns">
					    <label>First
					      <input type="text" placeholder="Jane" formControlName="first">
				    	</label>
				    </div>
				    <div class="small-6 columns">
					    <label>Last
					    	<input type="text" placeholder="Doe" formControlName="last">
				    	</label>
				    </div>
			    </div>
			  </fieldset>
		    <label>Email
		    	<input type="email" placeholder="jane.doe@uoit.ca" formControlName="email">
		  	</label>
				<fieldset class="fieldset" formGroupName="credentials">
					<legend>Credentials</legend>
				  <div class="row">
				    <div class="small-6 columns">
					    <label>Title
					      <input type="text" placeholder="Head chef" formControlName="title">
				    	</label>
				    </div>
				    <div class="small-6 columns">
					    <label>Department or faculty
					    	<input type="text" placeholder="Faculty of Fun and Games" formControlName="dept">
				    	</label>
				    </div>
				  </div>
				</fieldset>
				<fieldset class="fieldset" formGroupName="phone">
					<legend>Phone</legend>
				  <div class="row">
				    <div class="small-2 columns">
				      <input type="text" formControlName="area">
				    </div>
				    <div class="small-3 columns">
				      <input type="text" formControlName="office">
				    </div>
				    <div class="small-3 columns">
				      <input type="text" formControlName="line">
				    </div>
				    <div class="small-1 columns align-middle align-center flex-container">
				      <label>EXT</label>
				    </div>
				    <div class="small-3 columns">
				      <input type="text" formControlName="ext">
				    </div>
				  </div>
				</fieldset>
			</div>
		</accordion-panel>

		<accordion-panel heading="Social">
			<div class="row flex-container padding-1" formArrayName="social">
      	<div class="column flex-child-auto" *ngFor="let network of formData.controls.social.controls; let i=index">
      		<div class="callout secondary">
	          <h4 class="flex-container align-justify">
	          	<span>
	          		<small class="subheader">Network {{i + 1}}:</small>
	          		{{ formData.value.social[i].type.name || '(Select)' }}
	          	</span>
	          	<button *ngIf="formData.controls.social.controls.length > 1"
	          					(click)="removeSocial(i)"
	          					[attr.aria-label]="'Remove social network: ' + (formData.value.social[i].type.name || '(Select)')"
	          					class="button hollow alert icon_cancel">
	          					Remove
	          	</button>
	          </h4>
	          <div [formGroupName]="i">
	            <label>Type
	              <select formControlName="type">
	              	<option *ngFor="let type of socialNetworks;" [ngValue]="type">{{type.name}}</option>
	              </select>
	              <span class="form-error"
	              			[class.is-visible]="formData.controls.social.controls[i].controls.type.invalid &amp;&amp; formData.controls.social.controls[i].controls.type.dirty">
	                  Type is required
	              </span>
	            </label>
	            <label>Username
	              <div class="input-group">
								  <span class="input-group-label" [hidden]="formData.value.social[i].type.value !== 'tw'">@</span>
	                <input type="text" class="input-group-field" formControlName="username">
								</div>
	              <span class="form-error"
	              			[class.is-visible]="formData.controls.social.controls[i].controls.username.invalid &amp;&amp; formData.controls.social.controls[i].controls.username.dirty">
	                  Username is required
	              </span>
	            </label>
	          </div>
          </div>
      	</div>
      	<div class="column flex-child-auto">
      		<div class="callout flex-container align-middle align-center">
	      		<button class="hollow button" (click)="addSocial()">+ Add social network</button>
      		</div>
      	</div>
      </div>
		</accordion-panel>

		<accordion-panel heading="Event">
			<div class="row padding-1">
	      <div class="small-6 columns">
	      	<div class="row">
		      	<div class="small-4 columns">
			        <label>Icon:
		            <select ng-model="formData.eventIcon" update-view name="eventIcon">
		            	<option value="" selected="true" disabled="disabled">Please select...</option>
		            	<option value="calendar">Calendar</option>
		            	<option value="chat">Chat</option>
		            	<option value="compass">Compass</option>
		            	<option value="cursor">Cursor</option>
		            	<option value="link">Link</option>
		            	<option value="location">Location</option>
		            	<option value="question">Question</option>
		            	<option value="uoitbook">UOIT book</option>
		            </select>
		          </label>
			        <label>Icon size:
		            <select ng-model="formData.eventIconLrg" update-view name="eventIconLrg">
		            	<option value="" selected="true" disabled="disabled">Please select...</option>
		            	<option value="0">Small</option>
		            	<option value="1">Large</option>
		            </select>
		          </label>
		        </div>
		      	<div class="small-8 columns">
			        <label>Event name:
		            <input type="text" ng-model="formData.eventName" update-view value="" name="eventName" placeholder="Enter a name here">
		          </label>
			        <label>Date:
		            <input type="text" ng-model="formData.eventDate" update-view value="" name="eventDate" placeholder="Enter date[s]">
		          </label>
		        </div>
	        </div>
	      </div>
			  <div class="small-6 columns">
			    <label>Description:
		        <input type="text" placeholder="Enter description here">
		      </label>
			    <label>Call-to-action:
			        <input type="text" placeholder="e.g. Learn more &raquo;">
			      </label>
			  </div>
			  <div class="small-12 columns">
			    <label>Link URL:
			      <input type="text" placeholder="http://">
			    </label>
			  </div>
		  </div>
		</accordion-panel>
	</accordion>
  <button class="button" type="submit" [disabled]="formData.invalid">Submit stuff</button>
</form>