<div style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
    <strong *ngIf="data.name?.first || data.name?.last">{{ data.name.first }} {{ data.name.last }}
      <br />
    </strong>
    <span *ngIf="data.credentials?.title || data.credentials?.dept">{{ data.credentials.title }} - {{
      data.credentials.dept }}
      <br />
    </span>
    Ontario Tech University
    <br />
    <span *ngIf="data.contact?.phone || data.contact?.ext">{{ data.contact.phone }} {{ data.contact.ext ? 'ext. ' +
      data.contact.ext : '' }}
      <br />
    </span>
    <span *ngIf="data.contact?.mobile">{{ data.contact.mobile }} (cell)
      <br />
    </span>
    <span *ngIf="data.contact?.fax || data.contact?.faxext">{{ data.contact.fax }} {{ data.contact.faxext ? 'ext. ' +
      data.contact.faxext : '' }} (fax)
      <br />
    </span>
    <span *ngIf="data.contact?.email">
      <a href="mailto:{{ data.contact.email }}" style="color: #0077CA; text-decoration: none;">{{ data.contact.email |
        lowercase }}</a>
      <br />
    </span>
    <span *ngIf="data.contact?.website">
      <a href="http://{{ data.contact.website }}" style="color: #0077CA; text-decoration: none;">{{
        data.contact.website }}</a>
    </span>
  </p>

  <p *ngIf="data.hours">
    <strong>Hours:</strong>
    <br /> {{ data.hours }}
  </p>

  <table border="0" cellpadding="0" cellspacing="0" style="padding: 0; margin-bottom:16px;">
    <tr>
      <td>
        <a style="border: 0; outline: none;" title="Visit the {{ data.logo?.name }} website" [href]="data.logo?.href">
          <img style="border: 0;" [src]="data.logo?.src | absoluteUrl" alt="{{ data.logo?.name }} logo"
            absoluteDimensions="50%" />
        </a>
      </td>
    </tr>
  </table>

  <table border="0" cellpadding="0" cellspacing="0" style="padding: 0; margin-bottom:16px;"
    *ngIf="data.image && data.image.src !== ''">
    <tr>
      <td>
        <a *ngIf="data.image.href; else noHref" style="border: 0; outline: none;"
          [title]="data.image.alt || data.image.href" href="http://{{data.image.href}}">
          <img [src]="data.image.src | absoluteUrl" [alt]="data.image.alt || data.image.src" [absoluteDimensions]="data.image.width
            ? data.image.width + 'px'
            : data.image.scale
              ? data.image.scale + '%'
              : null" />
        </a>
        <ng-template #noHref>
          <img [src]="data.image.src | absoluteUrl" [alt]="data.image.alt || data.image.src" [absoluteDimensions]="data.image.width
            ? data.image.width + 'px'
            : data.image.scale
              ? data.image.scale + '%'
              : null" />
        </ng-template>
      </td>
    </tr>
  </table>

  <table border="0" cellpadding="3" cellspacing="0" style="padding: 3px; margin-bottom:16px;"
    *ngIf="data.social?.style.value === 'button'">
    <tr>
      <td *ngFor="let network of data.social?.networks;" style="padding: 0; padding-right: 4px;">
        <a style="border: 0; outline: none;"
          title="{{ [network.type.cta, (network.type.value === 'tw' || network.type.value === 'in') ? '@' + network.username : network.username, 'on', network.type.name].join(' ') }}"
          [href]="network.type.href + (network.account ? network.account.value + '/' : '') + (network.username || network.type.default)"
          *ngIf="network.type">
          <img [src]="network.type.src | absoluteUrl" alt="{{ network.type.name }} icon" width="28" height="28"
            style="border: 0; width: 28px; height: 28px;" />
        </a>
      </td>
    </tr>
  </table>

  <table border="0" cellpadding="3" cellspacing="0" style="padding: 3px; margin-bottom:16px;"
    *ngIf="data.social?.style.value === 'both'">
    <tr *ngFor="let network of data.social?.networks;">
      <td style="padding: 0; font-size: 12px; vertical-align: middle;" valign="middle">
        <a style="border: 0; outline: none; vertical-align: middle; word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #0077ca; font-weight: normal; text-decoration: none;"
          valign="middle"
          [href]="network.type.href + (network.account ? network.account.value + '/' : '') + (network.username || network.type.default)"
          *ngIf="network.type">
          <img [src]="network.type.src | absoluteUrl" alt="{{ network.type.name }} icon" width="28" height="28"
            style="border: 0; width: 28px; height: 28px; margin-right: 4px; vertical-align: middle;" valign="middle" />
          {{ network.type.cta }}
          <strong>{{ (network.type.value === 'tw' || network.type.value === 'in') ? '@' + network.username :
            network.username }}</strong>
          on {{ network.type.name }}
          <br />
        </a>
      </td>
    </tr>
  </table>

  <table border="0" cellpadding="3" cellspacing="0" style="padding: 3px; margin-bottom:16px;"
    *ngIf="data.social?.style.value === 'link'">
    <tr *ngFor="let network of data.social?.networks;">
      <td style="padding: 0; font-size: 12px; vertical-align: middle;" valign="middle">
        <a style="border: 0; outline: none; vertical-align: middle; word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #0077ca; font-weight: normal; text-decoration: none;"
          valign="middle"
          [href]="network.type.href + (network.account ? network.account.value + '/' : '') + (network.username || network.type.default)"
          *ngIf="network.type">
          {{ network.type.cta }}
          <strong>{{ (network.type.value === 'tw' || network.type.value === 'in') ? '@' + network.username :
            network.username }}</strong>
          on {{ network.type.name }}
          <br />
        </a>
      </td>
    </tr>
  </table>



  <table width="560" cellpadding="0" cellspacing="0" *ngIf="data.event.use" style="padding: 0;">
    <tbody>
      <tr>
        <td width="210" valign="middle">
          <table>
            <tr>
              <td [width]="data.event.data?.size == 1 ? 36 : 24" valign="middle">
                <img align="none" [src]="data.event.data?.icon.src | absoluteUrl"
                  [width]="data.event.data?.size == 1 ? 24 : 16" [height]="data.event.data?.size == 1 ? 24 : 16">
              </td>
              <td valign="middle" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                <a [href]="data.event.data?.url"
                  style="word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #0077ca; font-weight: normal; text-decoration: none;"
                  title="Visit the {{data.event.data?.name }} webpage">
                  <strong>{{data.event.data?.name }}</strong>
                </a>
                <br> {{data.event.data?.date }}
              </td>
            </tr>
          </table>
        </td>
        <td width="390" valign="middle" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
          {{data.event.data?.desc }}
          <a [href]="data.event.data?.url"
            style="word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #0077ca; font-weight: normal; text-decoration: none;"
            title="{{data.event.data?.cta }} – {{data.event.data?.name }}">
            <strong>{{data.event.data?.cta }}</strong>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <table width="560" height="1px" cellpadding="0" cellspacing="0"
    style="height: 1px; padding: 0; margin-bottom:16px; width: 560px;" *ngIf="data.message?.content">
    <tr>
      <td height="1px" style="background:none; border-bottom: 1px solid #EDEDED; height:1px; width:100%; margin: 0;">
        &nbsp;</td>
    </tr>
  </table>

  <table width="560" cellpadding="0" cellspacing="0" *ngIf="data.message?.content">
    <tr>
      <td style="font-family: Arial, Helvetica, sans-serif; line-height: 1.5; color: #666666;"
        [ngStyle]="{ 'font-size.px': data.message?.style }">
        {{ data.message.content }}
      </td>
    </tr>
  </table>



  <table width="560" cellpadding="0" cellspacing="0" *ngIf="data.message?.acknowledgement || data.message?.brand">
    <tbody>
      <tr>
        <td valign="top" style="padding:0 9px;font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.5; color: #666666;" >
<!-- 
          <table *ngIf="data.message?.brand" cellpadding="0" cellspacing="0" >
            <tbody>
              <tr>
                <td valign="top" >
                    Ontario Tech University is the brand name used to refer to the University of Ontario Institute of Technology.<br /><br />
                  </td>

              </tr>
            </tbody>
          </table> -->

         
          <table *ngIf="data.message?.acknowledgement" cellpadding="0" cellspacing="0">
            <tbody>
              <tr >
                <td valign="top" *ngIf="data.message?.acknowledgement && data.message?.acknowledgementImage" width="60">
                  <img class="indigenous-image" width="50" height="28" style="width:50px;height: 28px;" [src]="'assets/logos/indigenous.jpg' | absoluteUrl" alt="Indigenous Logo">
                </td>

                <td valign="top" *ngIf="data.message?.acknowledgement" >
                    We are proud to acknowledge the lands and people of the Mississaugas of Scugog Island First Nation
                    which is
                    covered under
                    the Williams Treaties. We are situated on the Traditional Territory of the Mississaugas, a branch of the
                    greater
                    Anishinaabeg Nation, which includes Algonquin, Ojibway, Odawa and Pottawatomi.
                </td>
              </tr>
            </tbody>
          </table>


        </td>
    	</tr>
	</tbody>
</table>

<!-- 
  <table width="560" cellpadding="0" cellspacing="0" *ngIf="data.message?.acknowledgement || data.message?.brand">
    <tr>
      <td style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.5; color: #666666;">
        <span *ngIf="data.message?.brand">Ontario Tech University is the brand name used to refer to the University of
          Ontario Institute of Technology.<br /><br /></span>
        <span *ngIf="data.message?.acknowledgement">
          <span *ngIf="data.message?.acknowledgement && data.message?.acknowledgementImage" >
            <img class="indigenous-image" width="50" style="width:50px;" [src]="'assets/logos/indigenous.jpg' | absoluteUrl" alt="Indigenous Logo" style="float:left;">
          </span>The university is proud to acknowledge the lands and people of the Mississaugas of Scugog Island First Nation
          which is
          covered under
          the Williams Treaties. We are situated on the Traditional Territory of the Mississaugas, a branch of the
          greater
          Anishinaabeg Nation which includes Algonquin, Ojibway, Odawa and Pottawatomi.
        </span>

      </td>
    </tr>
  </table> -->

</div>
