table thead, table tbody, table tfoot {
  border: none;
  background-color: transparent;
}

table tbody th, table tbody td {
	padding: 0;
}

table td {
  border: none;
}

table tbody tr:nth-child(even) {
	background-color: transparent;
}

p a, ul a, table a {
  border-bottom: none !important;
  background-image: none !important;
}

.indigenous-image {
  width: 50px;
}
