<div class="page-content">
	<div class="row">
	  <div class="small-7 columns">
		  <signature-form #signatureForm (formChange)="onFormChange($event)"></signature-form>
	  </div>
	  <div class="small-5 columns">
		  <fieldset class="fieldset">
				<legend><strong>Preview</strong></legend>
		  	<signature-preview [data]="signatureForm.formData.value" #signaturePreview></signature-preview>
			</fieldset>
	  </div>
	</div>
	<div class="row">
	  <div class="small-12 columns">
			<hr/>
	    <p><strong>Using this signature:</strong><br/>
	    Enter your email in the box below and click <strong>SUBMIT</strong>; the signature will be sent directly to the email address entered here.</p>
			<p>
				<span class="label secondary">NOTE</span> <small>Final email signatures may contain layout flaws not present in the preview version – please <a href="mailto:webteam@uoit.ca">contact us</a> if you notice discrepancies.<br/>
				<strong>Directly editing the signature in your email client (i.e. Outlook) is not recommended</strong> due to the nature of designing layouts for email clients. Please contact us if you require additional fields or modifications outside what is possible here.</small>
			</p>
	  </div>
		<div class="small-6 columns">
			<form novalidate (submit)="onFormSubmit($event, signaturePreview.template, addressee.value)">
				<div class="input-group">
					<input class="input-group-field" placeholder="jane.doe@uoit.ca" type="email" name="email" #addressee>
					<div class="input-group-button">
						<button class="button" type="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
		<div class="small-6 columns" *ngIf="resultSuccess || resultError">
			<div class="success callout" *ngIf="resultSuccess">
			  {{ resultSuccess }}
			</div>
			<div class="alert callout" *ngIf="resultError">
			  {{ resultError }}
			</div>
		</div>
	</div>
</div>
