<div class="page-content">
	<div class="row">
	  <div class="small-7 columns">
		  <signature-form #signatureForm (formChange)="onFormChange($event)"></signature-form>
	  </div>
	  <div class="small-5 columns">
		  <fieldset class="fieldset">
				<legend><strong>Preview</strong></legend>
		  	<signature-preview [data]="signatureForm.formData.value" #signaturePreview></signature-preview>
			</fieldset>
	  </div>
	</div>
	<div class="row">
	  <div class="small-12 columns">
			<hr/>
	    <p><strong>Using this signature:</strong><br/>
	    Enter your email in the box below and click <strong>SUBMIT</strong>; the signature will be sent directly to the email address entered here.</p>
	    <p><span class="label secondary">NOTE</span> <small>Certain elements in the signature <em>preview</em> may contain layout flaws not present in the emailed version due to the nature of designing for email clients.<br/>Such flaws should <strong>not</strong> be present in the final copy; always test your signature to ensure it fits your needs, and <a href="mailto:webteam@uoit.ca">contact the webteam</a> if there is a problem with your signature after emailing.</small></p>
	  </div>
		<div class="small-6 columns" *ngIf="resultSuccess || resultError">
			<div class="success callout" *ngIf="resultSuccess">
			  {{ resultSuccess }}
			</div>
			<div class="alert callout" *ngIf="resultError">
			  {{ resultError }}
			</div>
		</div>
		<div class="small-6 columns">
			<div class="input-group">
			  <input class="input-group-field" placeholder="jane.doe@uoit.ca" type="email" name="email" #addressee>
			  <div class="input-group-button">
			    <button class="button" (click)="onFormSubmit(signaturePreview.template, addressee.value)">Submit</button>
			  </div>
			</div>
		</div>
	</div>
</div>
