<div class="page-content">
  <div class="row">
    <div class="small-7 columns">
      <signature-form #signatureForm (formChange)="onFormChange($event)"></signature-form>
    </div>
    <div class="small-5 columns">
      <fieldset class="fieldset">
        <legend><strong>Preview</strong></legend>
        <signature-preview [data]="signatureForm.formData.value" #signaturePreview></signature-preview>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <hr />
      <p><strong>Using this signature:</strong><br />
        Enter your email in the box below and click <strong>SUBMIT</strong>; the signature will be sent directly to the
        email address entered here.</p>
      <p>
        <span class="label secondary">NOTE</span> <small>Final email signatures may contain layout flaws not present in
          the preview version – please <a href="mailto:webteam@uoit.ca">contact us</a> if you notice
          discrepancies.<br />
          <strong>Directly editing the signature in your email client (i.e. Outlook) is not recommended</strong> due to
          the nature of designing layouts for email clients. Please contact us if you require additional fields or
          modifications outside what is possible here.</small>
      </p>
    </div>
    <div class="small-6 columns">
      <form novalidate (submit)="onFormSubmit($event, signaturePreview.template, addressee.value)">
        <div class="input-group">
          <input class="input-group-field" placeholder="jane.doe@uoit.ca" type="email" name="email" #addressee>
          <div class="input-group-button">
            <button
              onclick="ga('send', 'event', 'button', 'click', 'ontariotechuniversity_email_signature_submit_button');"
              class="button" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="small-6 columns" *ngIf="resultSuccess || resultError">
      <div class="success callout" *ngIf="resultSuccess">
        {{ resultSuccess }}
      </div>
      <div class="alert callout" *ngIf="resultError">
        {{ resultError }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <hr />
      <h2>Usage in Microsoft Outlook</h2>
      <div class="row">
        <div class="small-6 columns">
          <accordion>
            <accordion-panel heading="Windows">
              <div class="padding-1">
                <ol>
                  <li>
                    <p>Open the email message containing your new signature.</p>
                  </li>
                  <li>
                    <p>
                      Copy the entirety of the message to your clipboard.<br /><br />
                      Click once anywhere inside the message (to make it the active focus), and then use
                      <strong>Edit</strong> &gt; <strong>Select All</strong> and <strong>Edit</strong> &gt;
                      <strong>Copy</strong> (or <kbd>Ctrl</kbd>+<kbd>A</kbd> and <kbd>Ctrl</kbd>+<kbd>C</kbd>).
                    </p>
                  </li>
                  <li>
                    <p>Open a new email message.</p>
                  </li>
                  <li>
                    <p>
                      Select <strong>Signature </strong>&gt; <strong>Signatures </strong>from the <strong>Message
                      </strong>menu.<br><br>
                      Depending on the size of your Outlook window and whether you're composing a new email message or a
                      reply or forward, the <strong>Message </strong>menu and the <strong>Signature </strong>button
                      might be in two different locations.<br><br>
                      <img src="https://support.content.office.net/en-us/media/f8f6b62a-56d3-48bc-8a82-4b59c956a40a.png"
                        alt="Select Signature from the Message menu." ms.cmpgrp="content" ms.pgarea="Body"
                        ms.interactiontype="500">
                      <br><br>
                      <img src="https://support.content.office.net/en-us/media/7fc611c6-50c3-47a8-86ae-7c22fb13f18a.png"
                        alt="Select Signature with a reply or forward in the reading pane." ms.cmpgrp="content"
                        ms.pgarea="Body" ms.interactiontype="500">
                    </p>
                  </li>
                  <li>
                    <p>Under <strong>Select signature to edit</strong>, choose <strong>New</strong>, and in the
                      <strong>New Signature</strong> dialog box, type a <em>name</em> for the signature.</p>
                  </li>
                  <li>
                    <p>
                      Under <strong>Edit signature</strong>, paste the signature you copied to your
                      clipboard.<br /><br />
                      Select <strong>Paste</strong> from the <strong>Edit</strong> menu or press
                      <kbd>Ctrl</kbd>+<kbd>V</kbd> on your keyboard.
                    </p>
                    <img src="https://support.content.office.net/en-us/media/f44322e0-367e-415d-ac2b-0c44e2e7c959.jpg"
                      alt="Type a new signature to use in your email" ms.cmpgrp="content" ms.pgarea="Body"
                      ms.interactiontype="500">
                  </li>
                  <li>
                    <p>Under <strong>Choose default signature</strong>, set the following options for your signature:
                    </p>
                    <p>In the <strong>E-mail account</strong> drop-down box, choose an email account to associate with
                      the signature. You can have different signatures for each email account.</p>
                    <p>If you want your signature added to all new messages by default, in the <strong>New
                        messages</strong> drop-down box, select one of your signatures. If you don't want to
                      automatically add a signature to new messages, choose (none). This doesn't add a signature to any
                      messages you reply to or forward.</p>
                    <p>If you want your signature to appear in&nbsp;the messages you reply to and forward, in the&nbsp;
                      <strong>Replies/forwards</strong> drop-down, select one of your signatures. Otherwise, accept the
                      default option of (none).</p>
                    <img src="https://support.content.office.net/en-us/media/f44322e0-367e-415d-ac2b-0c44e2e7c959.jpg"
                      alt="Type a new signature to use in your email" ms.cmpgrp="content" ms.pgarea="Body"
                      ms.interactiontype="500">
                  </li>
                  <li>
                    <p>Choose <strong>OK</strong> to save your new signature and return to your message. Outlook doesn't
                      add your new signature to the message you opened in Step 1, even if you chose to apply the
                      signature to all new messages. You'll have to add the signature manually to this one message. All
                      future messages will&nbsp;have the signature added automatically.&nbsp;To add the signature
                      manually, select <strong>Signature</strong> from the <strong>Message </strong>menu and then pick
                      the signature you just created.</p>
                  </li>
                </ol>
              </div>
            </accordion-panel>
            <accordion-panel heading="Mac OS">
              <div class="padding-1">
                <ol>
                  <li>
                    <p>Open the email message containing your new signature.</p>
                  </li>
                  <li>
                    <p>
                      Copy the entirety of the message to your clipboard.<br /><br />
                      Click once anywhere inside the message (to make it the active focus), and then use
                      <strong>Edit</strong> &gt; <strong>Select All</strong> and <strong>Edit</strong> &gt;
                      <strong>Copy</strong> (or <kbd>Ctrl</kbd>+<kbd>A</kbd> and <kbd>Ctrl</kbd>+<kbd>C</kbd>).
                    </p>
                  </li>
                  <li>
                    <p>On the <strong>Outlook</strong> menu, select&nbsp;<strong>Preferences</strong>.</p>
                    <img src="https://support.content.office.net/en-us/media/5d410ab3-908c-416b-9711-f6c54c6acf4b.png"
                      alt="Outlook menu with Preferences highlighted" ms.cmpgrp="content" ms.pgarea="Body"
                      ms.interactiontype="500">
                  </li>
                  <li>
                    <p>Under <strong>Email</strong>, select <strong>Signatures</strong>.</p>
                    <img src="https://support.content.office.net/en-us/media/949d287f-a9ae-4e81-b40a-3df5faf099e3.gif"
                      alt="Signatures Preferences button" ms.cmpgrp="content" ms.pgarea="Body" ms.interactiontype="500">
                  </li>
                  <li>
                    <p>Double-click <strong>Untitled</strong>, and then type a name for the signature you created.<br>
                    </p>
                    <p>or</p>
                  </li>
                  <li>
                    <p>Select&nbsp; <img
                        src="https://support.content.office.net/en-us/media/d73664fe-a628-4755-ade4-a2f5a7aae084.gif"
                        alt="Add" ms.cmpgrp="content" ms.pgarea="Body" ms.interactiontype="500"> to add a new signature.
                    </p>
                    <img src="https://support.content.office.net/en-us/media/ceb572b5-998e-4d17-bd74-be0a75b6f326.png"
                      alt="Showing Signature Editor" ms.cmpgrp="content" ms.pgarea="Body" ms.interactiontype="500">
                  </li>
                  <li>
                    <p>In the Signature editor, paste the signature you copied to your clipboard.<br /><br />
                      Select <strong>Paste</strong> from the <strong>Edit</strong> menu or press
                      <kbd>Ctrl</kbd>+<kbd>V</kbd> on your keyboard.</p>
                  </li>
                  <li>
                    <p>After you are done creating your signature, close the editor window.</p>
                  </li>
                  <li>
                    <p>Close the <strong>Signatures</strong> window.</p>
                  </li>
                </ol>
              </div>
            </accordion-panel>
          </accordion>
        </div>
      </div>
    </div>
  </div>
</div>
