<form [formGroup]="formData" (ngSubmit)="onSubmit($event, formData.value)" class="row flex-dir-column">
<br/><label>Design</label>
<!-- 	<label class="disabled">Use a linked Expert Centre profile?
		<input type="checkbox" formControlName="expert">
	</label>
	<fieldset class="fieldset" [hidden]="!formData.value.expert">
		<legend>Expert</legend>
		<label>Which expert?
			<select>
				<option></option>
			</select>
		</label>
	</fieldset> -->
	<accordion>
		<accordion-panel heading="Personal">
			<div class="padding-1">
			  <fieldset class="fieldset" formGroupName="name">
					<legend>Name</legend>
					<div class="row">
				    <div class="small-6 columns">
					    <label>First
					      <!-- <input type="text" placeholder="Jane" formControlName="first"> -->
					      <ng2-completer [datasource]="directoryData.firstNames" [minSearchLength]="0" formControlName="first"></ng2-completer>
				    	</label>
				    </div>
				    <div class="small-6 columns">
					    <label>Last
					    	<!-- <input type="text" placeholder="Doe" formControlName="last"> -->
					      <ng2-completer [datasource]="directoryData.lastNames" [minSearchLength]="0" formControlName="last"></ng2-completer>
				    	</label>
				    </div>
			    </div>
			  </fieldset>
			  <fieldset class="fieldset" formGroupName="contact">
					<legend>Contact</legend>
				  <div class="row">
				    <div class="small-9 columns">
						  <label>Phone number
					      <input type="tel" formControlName="phone" autocomplete="tel" [textMask]="{ mask: phoneMask }">
				      </label>
				    </div>
				    <div class="small-3 columns">
						  <label>Extension
					      <input type="text" formControlName="ext">
				      </label>
				    </div>
				  </div>
				  <div class="row">
				    <div class="small-12 columns">
						  <label>Mobile
					      <input type="tel" formControlName="mobile" autocomplete="tel" [textMask]="{ mask: phoneMask }">
				      </label>
				    </div>
				  </div>
				  <div class="row">
				    <div class="small-9 columns">
						  <label>Fax number
					      <input type="tel" formControlName="fax" autocomplete="tel" [textMask]="{ mask: phoneMask }">
				      </label>
				    </div>
				    <div class="small-3 columns">
						  <label>Fax extension
					      <input type="text" formControlName="faxext">
				      </label>
				    </div>
				  </div>
				  <div class="row">
				    <div class="small-6 columns">
					    <label>Email
					    	<!-- <input type="email" placeholder="jane.doe@uoit.ca" formControlName="email"> -->
					      <ng2-completer [datasource]="directoryData.emails" [minSearchLength]="0" formControlName="email"></ng2-completer>
					  	</label>
				    </div>
				    <div class="small-6 columns">
					    <label>Website
						    <div class="input-group">
								  <span class="input-group-label">http<small>[s]</small>://</span>
						    	<input type="url" placeholder="uoit.ca" formControlName="website" class="input-group-field">
					    	</div>
					  	</label>
				    </div>
				  </div>
		  	</fieldset>
				<fieldset class="fieldset" formGroupName="credentials">
					<legend>Credentials</legend>
				  <div class="row">
				    <div class="small-6 columns">
					    <label>Title
					      <!-- <input type="text" placeholder="Head chef" formControlName="title"> -->
					      <ng2-completer [datasource]="directoryData.titles" [minSearchLength]="0" formControlName="title"></ng2-completer>
				    	</label>
				    </div>
				    <div class="small-6 columns">
					    <label>Department or faculty
					    	<!-- <input type="text" placeholder="Faculty of Fun and Games" formControlName="dept"> -->
					      <ng2-completer [datasource]="directoryData.departments" [minSearchLength]="0" formControlName="dept"></ng2-completer>
				    	</label>
				    </div>
				  </div>
				</fieldset>
			</div>
		</accordion-panel>

		<accordion-panel heading="Business">
			<div class="padding-1">
			  <label>Hours
		      <input type="text" formControlName="hours">
	      </label>
			<!--
				<fieldset class="fieldset" formGroupName="hours">
					<legend>Business hours</legend>
				  <div class="row">
				    <div class="small-6 columns">
				      <label>Open
					      <input type="text" formControlName="open">
				      </label>
				    </div>
				    <div class="small-6 columns">
				      <label>Close
					      <input type="text" formControlName="close">
				      </label>
				    </div>
				  </div>
			  </fieldset>
			-->
			</div>
		</accordion-panel>

		<accordion-panel heading="Social" formGroupName="social">
			<div class="padding-1">
				<label>Social link style
					<select formControlName="style">
          	<option *ngFor="let style of buttonStyles;" [ngValue]="style">{{style.name}}</option>
					</select>
				</label>
			</div>
			<div class="row flex-container padding-1" formArrayName="networks">
      	<div class="column flex-child-auto" *ngFor="let network of socialNetworksControls.controls; let i=index">
      		<div class="callout secondary">
	          <h4 class="flex-container align-justify">
	          	<span>
	          		<small class="subheader">Network {{i + 1}}:</small>
	          		{{ formData.value.social.networks[i].type?.name || '(Select)' }}
	          	</span>
	          	<button *ngIf="socialNetworksControls.length > 1"
	          					(click)="removeSocial(i)"
	          					[attr.aria-label]="'Remove social network: ' + (formData.value.social.networks[i].type?.name || '(Select)')"
	          					class="button hollow alert icon_cancel">
	          					Remove
	          	</button>
	          </h4>
	          <div [formGroupName]="i">
	            <label>Type
	              <select formControlName="type">
	              	<option *ngFor="let type of socialNetworks;" [ngValue]="type">{{type.name}}</option>
	              </select>
	              <span class="form-error"
	              			[class.is-visible]="socialNetworksControls.controls[i].controls.type.invalid &amp;&amp; socialNetworksControls.controls[i].controls.type.dirty">
	                  Type is required
	              </span>
	            </label>
	            <label>Username
	              <div class="input-group">
								  <span class="input-group-label" [hidden]="formData.value.social.networks[i].type?.value !== 'tw'">@</span>
	                <input type="text" class="input-group-field" formControlName="username">
								</div>
	              <span class="form-error"
	              			[class.is-visible]="socialNetworksControls.controls[i].controls.username.invalid &amp;&amp; socialNetworksControls.controls[i].controls.username.dirty">
	                  Username is required
	              </span>
	            </label>
	          </div>
          </div>
      	</div>
      	<div class="column flex-child-auto" *ngIf="socialNetworksControls.controls.length < socialNetworks.length">
      		<div class="callout flex-container align-middle align-center">
	      		<button class="hollow button" (click)="addSocial()">+ Add social network</button>
      		</div>
      	</div>
      </div>
		</accordion-panel>

		<accordion-panel heading="Logo">
			<div class="padding-1">
	      <label>Logo wordmark
	        <select formControlName="logo">
	        	<option *ngFor="let logo of brandLogos;" [ngValue]="logo">{{logo.name}}</option>
	        </select>
	      </label>
			</div>
		</accordion-panel>

		<accordion-panel heading="Event" formGroupName="event">
			<div class="padding-1">

				<label>Include an event promotion?
					<input type="checkbox" formControlName="use">
				</label>

				<fieldset class="fieldset" formGroupName="data" [hidden]="!formData.value.event.use">
					<legend>Event data</legend>
					<div class="row">
			      <div class="small-6 columns">
			      	<div class="row">
				      	<div class="small-4 columns">
					        <label>Icon:
				            <select formControlName="icon">
				            	<option value="" disabled="disabled">Please select...</option>
			              	<option *ngFor="let icon of eventIcons;" [ngValue]="icon">{{icon.name}}</option>
				            </select>
				          </label>
					        <label>Icon size:
				            <select formControlName="size">
				            	<option value="" disabled="disabled">Please select...</option>
				            	<option value="0">Small</option>
				            	<option value="1">Large</option>
				            </select>
				          </label>
				        </div>
				      	<div class="small-8 columns">
					        <label>Event name:
				            <input type="text" formControlName="name" placeholder="Enter a name here">
				          </label>
					        <label>Date:
				            <input type="text" formControlName="date" placeholder="Enter date[s]">
				          </label>
				        </div>
			        </div>
			      </div>
					  <div class="small-6 columns">
					    <label>Description:
				        <input type="text" formControlName="desc" placeholder="Enter description here">
				      </label>
					    <label>Call-to-action:
				        <input type="text" formControlName="cta" placeholder="e.g. Learn more &raquo;">
				      </label>
					  </div>
					  <div class="small-12 columns">
					    <label>Link URL:
					      <input type="text" formControlName="url" placeholder="http://">
					    </label>
					  </div>
				  </div>
			  </fieldset>
		  </div>
		</accordion-panel>

		<accordion-panel heading="Message" formGroupName="message">
			<div class="row padding-1">
	      <div class="small-2 columns">
	        <label>Style:
            <select formControlName="style">
            	<option value="" disabled="disabled">Please select...</option>
            	<option value="14">Normal</option>
            	<option value="11">Disclaimer</option>
          	</select>
        	</label>
	      </div>
	      <div class="small-10 columns">
			    <label>Content:
			      <textarea formControlName="content" placeholder="Enter full message text here..." style="min-height: 150px;">
			      </textarea>
			    </label>
	      </div>
      </div>
		</accordion-panel>
	</accordion>
</form>