<form [formGroup]="formData" (ngSubmit)="onSubmit($event, formData.value)" class="row flex-dir-column" enctype="multipart/form-data">
  <br />
  <label>Design</label>
  <!-- 	<label class="disabled">Use a linked Expert Centre profile?
		<input type="checkbox" formControlName="expert">
	</label>
	<fieldset class="fieldset" [hidden]="!formData.value.expert">
		<legend>Expert</legend>
		<label>Which expert?
			<select>
				<option></option>
			</select>
		</label>
	</fieldset> -->
  <accordion>
    <accordion-panel heading="Personal">
      <div class="padding-1">
        <fieldset class="fieldset" formGroupName="name">
          <legend>Name</legend>
          <div class="row">
            <div class="small-6 columns">
              <label>First
                <!-- <input type="text" placeholder="Jane" formControlName="first"> -->
                <ng2-completer [datasource]="directoryData.firstNames" [minSearchLength]="0" formControlName="first"></ng2-completer>
              </label>
            </div>
            <div class="small-6 columns">
              <label>Last
                <!-- <input type="text" placeholder="Doe" formControlName="last"> -->
                <ng2-completer [datasource]="directoryData.lastNames" [minSearchLength]="0" formControlName="last"></ng2-completer>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset class="fieldset" formGroupName="contact">
          <legend>Contact</legend>
          <div class="row">
            <div class="small-9 columns">
              <label>Phone number
                <input type="tel" formControlName="phone" autocomplete="tel" [textMask]="{ mask: phoneMask }">
              </label>
            </div>
            <div class="small-3 columns">
              <label>Extension
                <input type="text" formControlName="ext">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>Mobile
                <input type="tel" formControlName="mobile" autocomplete="tel" [textMask]="{ mask: phoneMask }">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-9 columns">
              <label>Fax number
                <input type="tel" formControlName="fax" autocomplete="tel" [textMask]="{ mask: phoneMask }">
              </label>
            </div>
            <div class="small-3 columns">
              <label>Fax extension
                <input type="text" formControlName="faxext">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns">
              <label>Email
                <!-- <input type="email" placeholder="jane.doe@uoit.ca" formControlName="email"> -->
                <ng2-completer [datasource]="directoryData.emails" [minSearchLength]="0" formControlName="email"></ng2-completer>
              </label>
            </div>
            <div class="small-6 columns">
              <label>Website
                <div class="input-group">
                  <span class="input-group-label">https://</span>
                  <input type="url" placeholder="ontariotechu.ca" formControlName="website" class="input-group-field">
                </div>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset class="fieldset" formGroupName="credentials">
          <legend>Credentials</legend>
          <div class="row">
            <div class="small-6 columns">
              <label>Title
                <!-- <input type="text" placeholder="Head chef" formControlName="title"> -->
                <ng2-completer [datasource]="directoryData.titles" [minSearchLength]="0" formControlName="title"></ng2-completer>
              </label>
            </div>
            <div class="small-6 columns">
              <label>Department or faculty
                <!-- <input type="text" placeholder="Faculty of Fun and Games" formControlName="dept"> -->
                <ng2-completer [datasource]="directoryData.departments" [minSearchLength]="0" formControlName="dept"></ng2-completer>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </accordion-panel>

    <accordion-panel heading="Business">
      <div class="padding-1">
        <label>Hours
          <input type="text" formControlName="hours">
        </label>
        <!--
				<fieldset class="fieldset" formGroupName="hours">
					<legend>Business hours</legend>
				  <div class="row">
				    <div class="small-6 columns">
				      <label>Open
					      <input type="text" formControlName="open">
				      </label>
				    </div>
				    <div class="small-6 columns">
				      <label>Close
					      <input type="text" formControlName="close">
				      </label>
				    </div>
				  </div>
			  </fieldset>
			-->
      </div>
    </accordion-panel>

    <accordion-panel heading="Social" formGroupName="social">
      <div class="padding-1">
        <label>Social link style
          <select formControlName="style">
            <option *ngFor="let style of buttonStyles;" [ngValue]="style">{{style.name}}</option>
          </select>
        </label>
      </div>
      <div class="row flex-container padding-1" formArrayName="networks">
        <div class="column flex-child-auto" *ngFor="let network of socialNetworksControls.controls; let i=index">
          <div class="callout secondary">
            <h4 class="flex-container align-justify">
              <span>
                <small class="subheader">Network {{i + 1}}:</small>
                {{ formData.value.social.networks[i].type?.name || '(Select)' }}
              </span>
              <button *ngIf="socialNetworksControls.length > 1" (click)="removeSocial(i)" [attr.aria-label]="'Remove social network: ' + (formData.value.social.networks[i].type?.name || '(Select)')"
                class="button hollow alert icon_cancel">
                Remove
              </button>
            </h4>
            <div [formGroupName]="i">
              <label>Type
                <select formControlName="type">
                  <option *ngFor="let type of socialNetworks;" [ngValue]="type">{{type.name}}</option>
                </select>
                <span class="form-error" [class.is-visible]="socialNetworksControls.controls[i].controls.type.invalid && socialNetworksControls.controls[i].controls.type.dirty">
                  Type is required
                </span>
              </label>
              <fieldset *ngIf="getSocialNetwork(formData.value.social.networks[i].type?.value)?.options as options">
                <legend>Account type</legend>
                <ng-container *ngFor="let option of options">
                  <input type="radio" formControlName="account" [value]="option" id="account-{{i}}_{{option.value}}" />
                  <label for="account-{{i}}_{{option.value}}">{{option.label}}</label>
                </ng-container>
              </fieldset>
              <label>Username
                <div class="input-group">
                  <span class="input-group-label" [hidden]="formData.value.social.networks[i].type?.value !== 'tw'">@</span>
                  <input type="text" class="input-group-field" formControlName="username">
                </div>
                <span class="form-error" [class.is-visible]="socialNetworksControls.controls[i].controls.username.invalid && socialNetworksControls.controls[i].controls.username.dirty">
                  Username is required
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="column flex-child-auto" *ngIf="socialNetworksControls.controls.length < 10">
          <div class="callout flex-container align-middle align-center">
            <button class="hollow button" (click)="addSocial()">+ Add social network</button>
          </div>
        </div>
      </div>
    </accordion-panel>

    <accordion-panel heading="Logo">
      <div class="padding-1">
        <label>Logo wordmark
          <select formControlName="logo">
            <optgroup *ngFor="let group of brandLogos" label="{{ group.name }}">
              <option *ngFor="let logo of group.options" [ngValue]="logo">{{logo.name}}</option>
            </optgroup>
          </select>
        </label>
        <fieldset class="fieldset" formGroupName="image" *ngIf="showUploader$ | async">
          <legend>Custom image</legend>
          <div class="row">
            <div class="small-6 columns">
              <label>Upload <small>*images are subject to review</small>
                <div class="callout text-center text-larger upload-container" [ngClass]="{
                    primary: uploadDragging,
                    secondary: !uploadDragging,
                    success: uploadSuccess,
                    alert: uploadError
                  }"
                  (drop)="onDropFile($event)" (dragover)="onDragOverFile($event)" (dragenter)="onDragEnterFile()"
                  (dragleave)="onDragLeaveFile()">
                  <span *ngIf="!uploadUploading">
                    Drag a file here or click to upload<br /><small>or use menu to the right to select one</small>
                  </span>
                  <span *ngIf="uploadUploading && !uploadSuccess && !uploadError">
                    Uploading... <strong>{{ uploadProgress}}%</strong>
                  </span>
                  <span *ngIf="uploadUploading && (uploadSuccess || uploadError)">
                    {{ uploadMessage }}
                  </span>
                </div>
                <input type="file" (change)="uploadFile($event.target.files)" hidden>
                <input type="hidden" formControlName="src">
              </label>
            </div>
            <div class="small-6 columns">
              <upload-browser (select)="selectFile($event)"></upload-browser>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <fieldset class="fieldset">
                <legend>Sizing</legend>
                <div class="row">
                  <div class="columns">
                    <label>Scale
                      <div class="input-group">
                        <input type="range" class="input-group-field" [class.is-invalid-input]="imageControls.get('scale').invalid"
                          min="0" max="100" formControlName="scale">
                        &nbsp;{{ imageControls.get('scale').value }}%
                      </div>
                    </label>
                  </div>
                  <div class="columns">
                    <label>Set width
                      <div class="input-group">
                        <input type="number" class="input-group-field" [class.is-invalid-input]="imageControls.get('width').invalid"
                          min="0" max="600" formControlName="width">
                        <span class="input-group-label">px</span>
                      </div>
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns">
              <label>Alt text <small>(describe the image for screen readers)</small>
                <input type="text" formControlName="alt">
              </label>
            </div>
            <div class="small-6 columns">
              <label>Link URL
                <div class="input-group">
                  <span class="input-group-label">https://</span>
                  <input type="url" placeholder="ontariotechu.ca" formControlName="href" class="input-group-field">
                </div>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </accordion-panel>

    <accordion-panel heading="Event" formGroupName="event">
      <div class="padding-1">

        <label>Include an event promotion?
          <input type="checkbox" formControlName="use">
        </label>

        <fieldset class="fieldset" formGroupName="data" [hidden]="!formData.value.event.use">
          <legend>Event data</legend>
          <div class="row">
            <div class="small-6 columns">
              <div class="row">
                <div class="small-4 columns">
                  <label>Icon:
                    <select formControlName="icon">
                      <option value="" disabled="disabled">Please select...</option>
                      <option *ngFor="let icon of eventIcons;" [ngValue]="icon">{{icon.name}}</option>
                    </select>
                  </label>
                  <label>Icon size:
                    <select formControlName="size">
                      <option value="" disabled="disabled">Please select...</option>
                      <option value="0">Small</option>
                      <option value="1">Large</option>
                    </select>
                  </label>
                </div>
                <div class="small-8 columns">
                  <label>Event name:
                    <input type="text" formControlName="name" placeholder="Enter a name here">
                  </label>
                  <label>Date:
                    <input type="text" formControlName="date" placeholder="Enter date[s]">
                  </label>
                </div>
              </div>
            </div>
            <div class="small-6 columns">
              <label>Description:
                <input type="text" formControlName="desc" placeholder="Enter description here">
              </label>
              <label>Call-to-action:
                <input type="text" formControlName="cta" placeholder="e.g. Learn more &raquo;">
              </label>
            </div>
            <div class="small-12 columns">
              <label>Link URL:
                <input type="text" formControlName="url" placeholder="http://">
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </accordion-panel>

    <accordion-panel heading="Message" formGroupName="message">
      <div class="row padding-1">
        <div class="small-2 columns">
          <label>Style:
            <select formControlName="style">
              <option value="" disabled="disabled">Please select...</option>
              <option value="14">Normal</option>
              <option value="11">Disclaimer</option>
            </select>
          </label>
        </div>
        <div class="small-10 columns">
          <label>Content:
            <textarea formControlName="content" placeholder="Enter full message text here..." style="min-height: 150px;">
            </textarea>
          </label>
        </div>
      </div>
      <div class="row padding-1">
        <div class="small-12 columns">
          <label>Include brand disclaimer?
            <input type="checkbox" formControlName="brand">
          </label>
          <small *ngIf="formData.value.message.brand">
            "Ontario Tech University is the brand name used to refer to the University of Ontario Institute of
            Technology."
          </small>
        </div>
      </div>
      <div class="row padding-1">
        <div class="small-12 columns">
          <label>Include land acknowledgement?
            <input type="checkbox" formControlName="acknowledgement">
          </label>
          <small *ngIf="formData.value.message.acknowledgement">
            "The university is proud to acknowledge the lands and people of the Mississaugas of Scugog Island First
            Nation which is covered
            under the Williams Treaties. We are situated on the Traditional Territory of the Mississaugas, a branch of
            the
            greater Anishinaabeg Nation which includes Algonquin, Ojibway, Odawa and Pottawatomi."
          </small>
        </div>
      </div>
    </accordion-panel>
  </accordion>
</form>
