<div class="page-content">
	<div class="row">
	  <div class="small-12 columns">
		  <h1>UOIT <small>Email Signature</small></h1>
	  </div>
  </div>
	<div class="row">
	  <div class="small-7 columns">
		  <signature-form #signatureForm></signature-form>
	  </div>
	  <div class="small-5 columns">
		  <fieldset class="fieldset">
				<legend><strong>Preview</strong></legend>
		  	<signature-preview [data]="signatureForm.formData.value" #signaturePreview></signature-preview>
			</fieldset>
	  </div>
	</div>

	<div class="row align-right">
	  <div class="small-12 columns">
	    <p class="text-right">To copy this signature, <strong>click inside the blue box to highlight it</strong>, and press <kbd>CTRL+A</kbd> (or <kbd>&#8984;+A</kbd>) to <strong>Select All</strong> before copying.<br/>
	    ...Or, email this signature to:</p>
	  </div>
		<div class="input-group small-6 columns">
		  <input class="input-group-field" placeholder="jane.doe@uoit.ca" type="email">
		  <div class="input-group-button">
		    <button class="button" (click)="onFormSubmit(signaturePreview.template)">Submit</button>
		  </div>
		</div>
	</div>

</div>