<div class="wrapper">

<!-- 	<div class="container">
	  <div>
	    <select name="templates" ng-model="template" ng-change="loadTemplate()">
	      <option value="" selected>None</option>
	      <option value="template.html">Template 1</option>
	    </select>
	    <input type="text" id="loading" placeholder="Loading..." />
	    <input type="text" name="title" ng-model="title" update-view value="" placeholder="The Title For This Page" />
	    <textarea name="content" ng-model="textarea" update-view placeholder="Content for this page"></textarea>
	  </div>
	</div> -->

	<br/>

	<div class="row panel">
	  <h1>UOIT Event
	  <small>Email Signature Generator</small></h1>
	  <div class="small-7 columns">
		  <signature-form (formChange)="onFormChange($event)"></signature-form>
	  </div>
	  <div class="small-5 columns">
	  <fieldset class="fieldset">
			<legend><strong>Preview</strong></legend>
	  	<signature-preview [data]="formData"></signature-preview>
		</fieldset>
	  </div>
	</div>

	<div class="row">
	  <div class="small-12 columns">
	    <p class="right text-right">To copy this signature, <strong>click inside the blue box to highlight it</strong>, and press <kbd>CTRL+A</kbd> (or <kbd>&#8984;+A</kbd>) to <strong>Select All</strong> before copying.<br/>
	    ...Or, email this signature to:</p>
		  <div class="row">
		    <div class="small-6 columns right">
		      <div class="row collapse">
		        <div class="xxsmall-10 columns">
		          <input type="text" placeholder="jane.doe@uoit.ca" name="sendTo" />
		        </div>
		        <div class="xxsmall-2 columns">
		          <button href="#" class="button postfix" ng-click="sendMail()">Go</button>
		        </div>
		      </div>
		    </div>
		  </div>
	  </div>
	</div>

</div>